body {
  text-align: center; 
}

#nav {
  position: fixed; 
  top: 0; 
  width: 100%;  
  background-color: #333;   
  text-align: left; 
}

div#nav a {
  display: inline-block; 
  font-size: 20px; 
  color: white; 
  padding: 10px 12px; 
  text-decoration: none; 
}

div#nav a:hover {
  background-color: green; 
}

#about {
  height: auto; 
  padding-top: 30px; 
  width: 100%; 
  background-color: grey; 
}

div#about img, p {
  display: inline-block;
  margin: 15px; 
  vertical-align: text-top; 
}

div#about p {
  width: 50%; 
  text-align: justify; 
}

h3#projects {
   
}

div.projects {
  height: auto; 
  width: 100%;
  background-color: teal; 
}

div.project {
  padding: 10px;
  display: inline-block;
  width: 360px;
  text-align: center;  
}

div.placeholder {
  background-color: orange;
  height: 200px; 
  width: 360px;  
}

#contact {
  height: 400px; 
  width: 100%;
  background-color: orange; 
}

#footer {
  height: 40px; 
  width: 100%; 
  background-color: blue;
}

#myface {
  height: 200px; 
  width: 200px;
}
